force-app/main/default/flows/Order_After_Save_General_CPQ_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>1150</locationX>
        <locationY>1932</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>New Order Review</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>04aVx0000083xQP</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_NRR_Value</name>
        <label>Assign NRR Value</label>
        <locationX>1260</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>NRR2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Order_Products.NRR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SADRequired</name>
        <label>Set SADRequired</label>
        <locationX>446</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>SADRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Billing_Address_is_updated</name>
        <label>Billing Address is updated</label>
        <locationX>358</locationX>
        <locationY>1692</locationY>
        <defaultConnector>
            <targetReference>Shipping_Address_is_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bill_To_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bill_To_Address__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Billing_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Is_Bypass_Checked</name>
        <label>Is Bypass Checked</label>
        <locationX>1986</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>IsRenewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Bypass_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Data_Migration_Bypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypass Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Is_Bypass_Checked</name>
        <label>Copy 3 of Is Bypass Checked</label>
        <locationX>3075</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Is_Activated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Bypass_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Data_Migration_Bypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Copy 3 of Bypass Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_Is_Bypass_Checked</name>
        <label>Copy 4 of Is Bypass Checked</label>
        <locationX>4065</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Is_New_and_Type_New_Business</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Bypass_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Data_Migration_Bypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Copy 4 of Bypass Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_16</name>
        <label>Order is Activated?</label>
        <locationX>358</locationX>
        <locationY>2292</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Stage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Activated</name>
        <label>Is Activated?</label>
        <locationX>3372</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Contracted</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Bypass_Checked</name>
        <label>Is Bypass Checked</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Is_Delayed_Invoice_on_Sync_to_ERP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Data_Migration_Bypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypass Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Bypass_Checked2</name>
        <label>Is Bypass Checked</label>
        <locationX>1029</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Get_Booking_Services_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_Checked2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Data_Migration_Bypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypass Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_and_Type_Amendment_and_New_Software_Product_Count_0</name>
        <label>Is New and Type = Amendment and New Software Product Count &gt;0</label>
        <locationX>4494</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes8</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.New_Software_Product_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Stamp_AOD_Required_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_and_Type_New_Business</name>
        <label>Is New and Type = New Business</label>
        <locationX>4296</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Is_New_and_Type_Amendment_and_New_Software_Product_Count_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_AOD_Required_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Business_Order</name>
        <label>Is New Business Order?</label>
        <locationX>1304</locationX>
        <locationY>1524</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_SAD_Required</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Renewal_for_Closed_Date</name>
        <label>Is Renewal? (Closed Date Update)</label>
        <locationX>3174</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>No - New Business or Amendment</defaultConnectorLabel>
        <rules>
            <name>Yes_Renewal_Closed_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_to_Closed_Won</targetReference>
            </connector>
            <label>Yes - Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SAD_Required</name>
        <label>Is SAD Required?</label>
        <locationX>1150</locationX>
        <locationY>1632</locationY>
        <defaultConnector>
            <targetReference>Submit_for_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SAD_AOD_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AOD_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Level_Hold</targetReference>
            </connector>
            <label>SAD/AOD Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Delayed_Invoice_on_Sync_to_ERP</name>
        <label>Has Delayed Invoice Date on Sync to ERP?</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Get_All_Opportunity_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Delayed_Invoice_Sync</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sync to ERP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Delay_Invoice_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Delay_Invoice_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Set_Status_To_Delayed_Invoice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsRenewal</name>
        <label>Is Renewal</label>
        <locationX>2250</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Renewal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Touch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Delayed_Invoice_Date</targetReference>
            </connector>
            <label>No Touch</label>
        </rules>
        <rules>
            <name>Auto_Quote_Send</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Renewal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto Quote Send</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Delayed_Invoice_Date</targetReference>
            </connector>
            <label>Auto Quote Send</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Delayed_Invoice_Date</name>
        <label>Has Delayed Invoice Date?</label>
        <locationX>2250</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>UpdateOrderToSendtoERP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Delay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Delay_Invoice_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Delay_Invoice_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_To_Delayed_Invoice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oracle_Entered_Quote</name>
        <label>Oracle Entered Quote?</label>
        <locationX>1304</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Subflow_Create_Provisioning_from_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Type_Renewal</name>
        <label>Order Type = Renewal</label>
        <locationX>358</locationX>
        <locationY>1392</locationY>
        <defaultConnector>
            <targetReference>Billing_Address_is_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Oracle_Order_Hold__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AOD_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Hold_False</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pending_SAD</name>
        <label>Pending SAD?</label>
        <locationX>358</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Order_Type_Renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Require_SAD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending SAD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AOD_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed/Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Does Not Require SAD</label>
        </rules>
        <rules>
            <name>Requires_SAD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending SAD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AOD_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed/Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Type_Renewal</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Requires SAD</label>
        </rules>
    </decisions>
    <decisions>
        <name>SAD_Required</name>
        <label>SAD Required</label>
        <locationX>578</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Opportunity_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Opportunity_Products.Product2.AOD_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SADRequired</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shipping_Address_is_updated</name>
        <label>Shipping Address is updated</label>
        <locationX>358</locationX>
        <locationY>1992</locationY>
        <defaultConnector>
            <targetReference>Decision_16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ship_To_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ship_To_Address__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shipping_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Removed the Opportunity Closed/Won update from the immediate path</description>
    <environments>Default</environments>
    <formulas>
        <name>AODRequired</name>
        <dataType>Boolean</dataType>
        <expression>OR(
TEXT({!$Record.SBQQ__Quote__r.SBQQ__Type__c}) = &quot;Quote&quot;,
AND(TEXT({!$Record.SBQQ__Quote__r.SBQQ__Type__c}) = &quot;Amendment&quot;, {!$Record.SBQQ__Quote__r.New_Software_Product_Count__c} &gt; 0),
AND(TEXT({!$Record.SBQQ__Quote__r.SBQQ__Type__c}) = &quot;Renewal&quot;, {!$Record.SBQQ__Quote__r.New_Software_Product_Count__c} &gt; 0))</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>TaxExemptValue</name>
        <dataType>Boolean</dataType>
        <expression>IF( {!$Record.SBQQ__Quote__r.Tax_Exempt_Account__c} = True,
True,
False)</expression>
    </formulas>
    <formulas>
        <name>Type</name>
        <dataType>String</dataType>
        <expression>IF ( Text({!$Record.SBQQ__Quote__r.SBQQ__Type__c}) = &apos;Renewal&apos;,
&quot;Renewal&quot;,
IF ( Text({!$Record.SBQQ__Quote__r.SBQQ__Type__c}) = &apos;Amendment&apos;,
&quot;Amendment&quot;,
&quot;New&quot;
))</expression>
    </formulas>
    <interviewLabel>Order | After Save | General CPQ Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order | After Save | General CPQ Automations</label>
    <loops>
        <name>Loop_Order_Products</name>
        <label>Loop Order Products</label>
        <locationX>1172</locationX>
        <locationY>816</locationY>
        <collectionReference>Get_Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_NRR_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_with_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Opportunity_Products</name>
        <label>Loop Through Opportunity Products</label>
        <locationX>358</locationX>
        <locationY>492</locationY>
        <collectionReference>Get_All_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SAD_Required</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_SAD_Required</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateRenewalErrorLog</name>
        <label>CreateRenewalErrorLog</label>
        <locationX>2250</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Renewal_Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Opportunity_Products</name>
        <label>Get All Opportunity Products</label>
        <locationX>358</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Booking_Services_Queue</name>
        <label>Get Booking Services Queue</label>
        <locationX>1304</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stamp_Base_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approvals_Order_Review</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Products</name>
        <label>Get Order Products</label>
        <locationX>1172</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Order_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Stamp_AOD_Required_True</name>
        <label>Stamp AOD Required = True</label>
        <locationX>4362</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>AOD_Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Order_Level_Hold</name>
        <label>Set Order Level Hold</label>
        <locationX>1018</locationX>
        <locationY>1740</locationY>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>Oracle_Order_Hold__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_SAD_Required</name>
        <label>Set SAD Required</label>
        <locationX>358</locationX>
        <locationY>984</locationY>
        <connector>
            <targetReference>Pending_SAD</targetReference>
        </connector>
        <inputAssignments>
            <field>AOD_Required__c</field>
            <value>
                <elementReference>SADRequired</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_AOD_Required_True</name>
        <label>Stamp AOD Required = True</label>
        <locationX>4098</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>AOD_Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_Base_Values</name>
        <label>Stamp Base Values</label>
        <locationX>1304</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Oracle_Entered_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>ACV__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.ACV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARR__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.ARR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apply_Contracted_Pricing_From__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Apply_Contracted_Prices_From__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Address__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.BillTo_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Contact__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Billing_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delay_Invoice_Date__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Delay_Invoice_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_Amount__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__TotalCustomerDiscountAmount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_Percentage__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__AverageCustomerDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_Amount__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__ListAmount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRR__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.MRR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NRR__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.NRR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Amount__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__NetAmount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Booking_Services_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Payment_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__PrimaryContact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Closed_Date__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Closed_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Contact__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Renewal_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Path_Picklist__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Renewal_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PaymentTerm__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__PaymentTerms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School_Enrollment__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Student_Count__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Address__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.ShipTo_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Contact__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Shipping_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Method__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Shipping_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Terms__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Shipping_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signing_Authority_Contact__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Signing_Authority_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCV__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.TCV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Amount__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.VertexCPQ__Tax_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Exempt_Account__c</field>
            <value>
                <elementReference>TaxExemptValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Status__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.VertexCPQ__Tax_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_Sites__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.of_Sites__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_Billing_Address</name>
        <label>Stamp Billing Address</label>
        <locationX>226</locationX>
        <locationY>1800</locationY>
        <connector>
            <targetReference>Shipping_Address_is_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Bill_To_Address__r.AddressCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountryCode</field>
            <value>
                <elementReference>$Record.Bill_To_Address__r.Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Bill_To_Address__r.Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStateCode</field>
            <value>
                <elementReference>$Record.Bill_To_Address__r.Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Bill_To_Address__r.AddressStreet__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_Contracted</name>
        <label>Stamp Contracted</label>
        <locationX>3174</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Is_Renewal_for_Closed_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__Contracted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_Hold_False</name>
        <label>Stamp Hold = False</label>
        <locationX>226</locationX>
        <locationY>1500</locationY>
        <connector>
            <targetReference>Billing_Address_is_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>AOD_Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oracle_Order_Hold__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1172</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>Subflow_Create_Provisioning_from_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>NRR__c</field>
            <value>
                <elementReference>$Record.NRR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Bookings_Amount__c</field>
            <value>
                <elementReference>$Record.Net_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Stage</name>
        <label>Update Opportunity Stage</label>
        <locationX>226</locationX>
        <locationY>2400</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed/Won</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_to_Closed_Won</name>
        <label>Update Opportunity to Closed Won</label>
        <locationX>3042</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Update_Quote_to_Closed_Won</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed/Won</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_with_Collection</name>
        <label>Update Order with Collection</label>
        <locationX>1172</locationX>
        <locationY>1116</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>NRR__c</field>
            <value>
                <elementReference>NRR2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_to_Closed_Won</name>
        <label>Update Quote to Closed Won</label>
        <locationX>3042</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__Quote__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shipping_Address</name>
        <label>Update Shipping Address</label>
        <locationX>226</locationX>
        <locationY>2100</locationY>
        <connector>
            <targetReference>Decision_16</targetReference>
        </connector>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.Ship_To_Address__r.AddressCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountryCode</field>
            <value>
                <elementReference>$Record.Ship_To_Address__r.Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.Ship_To_Address__r.AddressPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStateCode</field>
            <value>
                <elementReference>$Record.Ship_To_Address__r.Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>$Record.Ship_To_Address__r.AddressStreet__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>138</locationX>
        <locationY>1200</locationY>
        <connector>
            <targetReference>Order_Type_Renewal</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Approval_Set_Status_To_Delayed_Invoice</name>
        <label>Approval - Set Order to Delayed Invoice</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <faultConnector>
            <targetReference>CreateRenewalErrorLog</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Delayed Invoice</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Order_To_Delayed_Invoice</name>
        <label>Set Order to Delayed Invoice</label>
        <locationX>2450</locationX>
        <locationY>492</locationY>
        <faultConnector>
            <targetReference>CreateRenewalErrorLog</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Delay_Invoice_Date__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Delay_Invoice_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Delayed Invoice</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOrderToSendtoERP</name>
        <label>Update Order To Send to ERP</label>
        <locationX>1986</locationX>
        <locationY>492</locationY>
        <faultConnector>
            <targetReference>CreateRenewalErrorLog</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sync to ERP</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1931</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Bypass_Checked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1_Min_After</name>
            <connector>
                <targetReference>Is_Bypass_Checked2</targetReference>
            </connector>
            <label>1 minute After Creation</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X2_minutes_after_creation</name>
            <connector>
                <targetReference>Copy_1_of_Is_Bypass_Checked</targetReference>
            </connector>
            <label>10 minutes after Creation</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_minute_after_Activation</name>
            <connector>
                <targetReference>Copy_3_of_Is_Bypass_Checked</targetReference>
            </connector>
            <label>1 minute after Activation</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>ActivatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X0_Min_after_Creation</name>
            <connector>
                <targetReference>Copy_4_of_Is_Bypass_Checked</targetReference>
            </connector>
            <label>0 Min after Creation</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_Create_Provisioning_from_Order</name>
        <label>Subflow - Create Provisioning from Order</label>
        <locationX>1304</locationX>
        <locationY>1416</locationY>
        <connector>
            <targetReference>Is_New_Business_Order</targetReference>
        </connector>
        <flowName>Subflow_Create_Provisioning_from_Order</flowName>
        <inputAssignments>
            <name>order</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>NRR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NRR2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NRRCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NRRCollectionVar</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>SADRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
