org-retrieve/prod-flow/flows/Quote_After_Save_Integration_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_AP_Contact_Id_to_Contact_Collection</name>
        <label>Add AP Contact Id to Contact Collection</label>
        <locationX>490</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>Contact_TextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Accounts_Payable_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Billing_Contact_Populated_Not_Duplicate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Bill_To_TempLog_to_Log_Collection</name>
        <label>Add Bill-To TempLog to Log Collection</label>
        <locationX>534</locationX>
        <locationY>2855</locationY>
        <assignmentItems>
            <assignToReference>Log_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempLog</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bill_To_Equals_Ship_To</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Billing_Contact_Id_to_Contact_Collection</name>
        <label>Add Billing Contact Id to Contact Collection</label>
        <locationX>490</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>Contact_TextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Billing_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Renewal_Contact_Populated_Not_Duplicate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Contact_Id_to_Contact_Collection</name>
        <label>Add Contact Id to Contact Collection</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Contact_TextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SBQQ__PrimaryContact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_AP_Contact_Populated_Not_Duplicate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Renewal_Contact_Id_to_Contact_Collection</name>
        <label>Add Renewal Contact Id to Contact Collection</label>
        <locationX>490</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>Contact_TextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Renewal_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_SIgning_Authority_Contact_Populated_Not_Duplicate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Ship_To_TempLog_to_Log_Collection</name>
        <label>Add Ship-To TempLog to Log Collection</label>
        <locationX>534</locationX>
        <locationY>3071</locationY>
        <assignmentItems>
            <assignToReference>Log_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempLog</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact_Address_Logs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Shipping_Contact_Id_to_Contact_Collection</name>
        <label>Add Shipping Contact Id to Contact Collection</label>
        <locationX>490</locationX>
        <locationY>2039</locationY>
        <assignmentItems>
            <assignToReference>Contact_TextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Shipping_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ACR_for_Primary_Contact_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Signing_Authority_Contact_Id_to_Contact_Collection</name>
        <label>Add Signing Authority Contact Id to Contact Collection</label>
        <locationX>490</locationX>
        <locationY>1739</locationY>
        <assignmentItems>
            <assignToReference>Contact_TextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Signing_Authority_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Shipping_Contact_Populated_Not_Duplicate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_TempLog_to_Contact_Collection</name>
        <label>Add TempLog to Contact Collection</label>
        <locationX>622</locationX>
        <locationY>2555</locationY>
        <assignmentItems>
            <assignToReference>Log_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempLog</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Retrieved_ACRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Log_Values_for_Bill_To</name>
        <label>Set Log Values for Bill-To</label>
        <locationX>534</locationX>
        <locationY>2747</locationY>
        <assignmentItems>
            <assignToReference>TempLog.EventKey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Address__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLog.ObjectReferenceId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillTo_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLog.Migrate_to_Oracle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLog.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OracleMigration</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Bill_To_TempLog_to_Log_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Log_Values_for_Current_Contact</name>
        <label>Set Log Values for Current Contact</label>
        <locationX>622</locationX>
        <locationY>2447</locationY>
        <assignmentItems>
            <assignToReference>TempLog.EventKey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AccountContactRelationship</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLog.ObjectReferenceId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Retrieved_ACRs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLog.Migrate_to_Oracle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLog.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OracleMigration</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_TempLog_to_Contact_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Log_Values_for_Ship_To</name>
        <label>Set Log Values for Ship-To</label>
        <locationX>534</locationX>
        <locationY>2963</locationY>
        <assignmentItems>
            <assignToReference>TempLog.EventKey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Address__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLog.ObjectReferenceId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShipTo_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLog.Migrate_to_Oracle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempLog.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OracleMigration</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Ship_To_TempLog_to_Log_Collection</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>PO_Number_Cannot_Be_Blank_on_Full_Touch_Renewal</name>
        <label>PO Number Cannot Be Blank on Full Touch Renewal</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <customErrorMessages>
            <errorMessage>Please populate PO Numbers for Full-Touch Renewals.</errorMessage>
            <fieldSelection>PO_Number__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>ACR_Log_Already_Exists</name>
        <label>ACR Log Already Exists?</label>
        <locationX>622</locationX>
        <locationY>2393</locationY>
        <defaultConnectorLabel>Yes, Skip</defaultConnectorLabel>
        <rules>
            <name>No_Existing_ACR_Log</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Log_for_Current_ACR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Log_Values_for_Current_Contact</targetReference>
            </connector>
            <label>No, Create Log</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bill_To_Equals_Ship_To</name>
        <label>Bill-To Equals Ship-To?</label>
        <locationX>534</locationX>
        <locationY>2909</locationY>
        <defaultConnector>
            <targetReference>Set_Log_Values_for_Ship_To</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Same_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillTo_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ShipTo_Address__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Address_Logs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_10000A_QuoteLine</name>
        <label>Has QuoteLine with Product Code 10000A?</label>
        <locationX>166</locationX>
        <locationY>215</locationY>
        <defaultConnectorLabel>No, Skip</defaultConnectorLabel>
        <rules>
            <name>QuoteLine_10000A_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QuoteLine_with_10000A</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Shipping_Terms_Prepaid</targetReference>
            </connector>
            <label>Yes, 10000A Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_AP_Contact_Populated_Not_Duplicate</name>
        <label>Is AP Contact Populated &amp; Not Duplicate?</label>
        <locationX>534</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Is_Billing_Contact_Populated_Not_Duplicate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AP_Contact_is_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Accounts_Payable_Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_TextCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Accounts_Payable_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Billing_Contact_Populated_Not_Duplicate</targetReference>
            </connector>
            <label>AP Contact is Duplicate</label>
        </rules>
        <rules>
            <name>AP_Contact_is_Unique</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Accounts_Payable_Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_AP_Contact_Id_to_Contact_Collection</targetReference>
            </connector>
            <label>AP Contact is Unique</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Billing_Contact_Populated_Not_Duplicate</name>
        <label>Is Billing Contact Populated &amp; Not Duplicate?</label>
        <locationX>534</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Is_Renewal_Contact_Populated_Not_Duplicate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Billing_Contact_is_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_TextCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Billing_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Renewal_Contact_Populated_Not_Duplicate</targetReference>
            </connector>
            <label>Billing Contact is Duplicate</label>
        </rules>
        <rules>
            <name>Billing_Contact_is_Unique</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Billing_Contact_Id_to_Contact_Collection</targetReference>
            </connector>
            <label>Billing Contact is Unique</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PO_Number_Blank_for_Full_Touch_Renewal</name>
        <label>Is PO Number Blank for Full Touch Renewal?</label>
        <locationX>292</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_Primary_Contact_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PO_Number_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Renewal_Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Touch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PO_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PO_Number_Cannot_Be_Blank_on_Full_Touch_Renewal</targetReference>
            </connector>
            <label>PO Number is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Primary_Contact_Populated</name>
        <label>Is Primary Contact Populated?</label>
        <locationX>534</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Is_AP_Contact_Populated_Not_Duplicate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Contact_is_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryContact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Contact_Id_to_Contact_Collection</targetReference>
            </connector>
            <label>Primary Contact is Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Quote_Approved_to_Set_Shipping_Terms</name>
        <label>Is Quote Approved to Set Shipping Terms?</label>
        <locationX>166</locationX>
        <locationY>107</locationY>
        <defaultConnector>
            <targetReference>Is_PO_Number_Blank_for_Full_Touch_Renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Continue Existing Logic</defaultConnectorLabel>
        <rules>
            <name>Quote_is_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_QuoteLine_with_10000A</targetReference>
            </connector>
            <label>Yes, Quote is Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Renewal_Contact_Populated_Not_Duplicate</name>
        <label>Is Renewal Contact Populated &amp; Not Duplicate?</label>
        <locationX>534</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Is_SIgning_Authority_Contact_Populated_Not_Duplicate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal_Contact_is_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_TextCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Renewal_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_SIgning_Authority_Contact_Populated_Not_Duplicate</targetReference>
            </connector>
            <label>Renewal Contact is Duplicate</label>
        </rules>
        <rules>
            <name>Renewal_Contact_is_Unique</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Renewal_Contact_Id_to_Contact_Collection</targetReference>
            </connector>
            <label>Renewal Contact is Unique</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Shipping_Contact_Populated_Not_Duplicate</name>
        <label>Is Shipping Contact Populated &amp; Not Duplicate?</label>
        <locationX>534</locationX>
        <locationY>1931</locationY>
        <defaultConnector>
            <targetReference>Get_ACR_for_Primary_Contact_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shipping_Contact_is_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shipping_Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_TextCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Shipping_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ACR_for_Primary_Contact_Account</targetReference>
            </connector>
            <label>Shipping Contact is Duplicate</label>
        </rules>
        <rules>
            <name>Shipping_Contact_is_Unique</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shipping_Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Shipping_Contact_Id_to_Contact_Collection</targetReference>
            </connector>
            <label>Shipping Contact is Unique</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SIgning_Authority_Contact_Populated_Not_Duplicate</name>
        <label>Is SIgning Authority Contact Populated &amp; Not Duplicate?</label>
        <locationX>534</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Is_Shipping_Contact_Populated_Not_Duplicate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Signing_Authority_Contact_is_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Signing_Authority_Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_TextCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Signing_Authority_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Shipping_Contact_Populated_Not_Duplicate</targetReference>
            </connector>
            <label>Signing Authority Contact is Duplicate</label>
        </rules>
        <rules>
            <name>Signing_Authority_Contact_is_Unique</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Signing_Authority_Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Signing_Authority_Contact_Id_to_Contact_Collection</targetReference>
            </connector>
            <label>Signing Authority Contact is Unique</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CleanError</name>
        <dataType>String</dataType>
        <expression>MID(
 {!$Flow.FaultMessage},
 FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34,
 (
   LEN({!$Flow.FaultMessage} ) - 
   (FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34)
 ) - 
 (
   LEN({!$Flow.FaultMessage} ) - 
   FIND(&apos;. You can look up ExceptionCode&apos;, {!$Flow.FaultMessage} )
 )
)</expression>
    </formulas>
    <formulas>
        <name>CloneBoolean</name>
        <dataType>Boolean</dataType>
        <expression>ISCLONE()</expression>
    </formulas>
    <formulas>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(
  {!$Record.SBQQ__StartDate__c}, 
  {!$Record.SBQQ__SubscriptionTerm__c}
) - 1</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>quoteHyperlink</name>
        <dataType>String</dataType>
        <expression>&quot;https://&quot; +

MID({!$Api.Partner_Server_URL_370}, 9, FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_370}) - 9) +

&quot;/&quot; + {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>TodayMinus1</name>
        <dataType>Date</dataType>
        <expression>Today() - 1</expression>
    </formulas>
    <formulas>
        <name>TotalBookingsAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.ARR__c} + {!$Record.NRR__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Quote | After Save | Integration Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote | After Save | Integration Automations</label>
    <loops>
        <name>Loop_through_Retrieved_ACRs</name>
        <label>Loop through Retrieved ACRs</label>
        <locationX>534</locationX>
        <locationY>2339</locationY>
        <collectionReference>Get_ACR_for_Primary_Contact_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Existing_Log_for_Current_ACR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Log_Values_for_Bill_To</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Address_Logs</name>
        <label>Create Contact &amp; Address Logs</label>
        <locationX>534</locationX>
        <locationY>3179</locationY>
        <inputReference>Log_RecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_ACR_for_Primary_Contact_Account</name>
        <label>Get ACRs for Contacts &amp; Account</label>
        <locationX>534</locationX>
        <locationY>2231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Retrieved_ACRs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>In</operator>
            <value>
                <elementReference>Contact_TextCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Log_for_Current_ACR</name>
        <label>Get Existing Log for Current ACR</label>
        <locationX>622</locationX>
        <locationY>2339</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ACR_Log_Already_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObjectReferenceId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Retrieved_ACRs.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>EventKey__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AccountContactRelationship</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Oracle Staging</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_QuoteLine_with_10000A</name>
        <label>Get QuoteLine with Product Code 10000A</label>
        <locationX>166</locationX>
        <locationY>161</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_10000A_QuoteLine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>10000A</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Shipping_Terms_Prepaid</name>
        <label>Set Shipping Terms to Prepaid</label>
        <locationX>166</locationX>
        <locationY>269</locationY>
        <inputAssignments>
            <field>Shipping_Terms__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>166</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Quote_Approved_to_Set_Shipping_Terms</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4) OR (1 AND 5)</filterLogic>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>Renewal_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No Touch</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Contact_TextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountOfCustomerHosted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountOfFollettHosted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Amendment_Quote_Lines</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Customer_Hosted</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>currentItem_QL_where_Type_Recurring_or_One_Time_Service</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Related_QL_with_Type_Recurring_Software</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>FilesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Log_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Log__c</objectType>
    </variables>
    <variables>
        <name>NewSoftwareCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OCR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>OCRs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>Subscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Subscription__c</objectType>
    </variables>
    <variables>
        <name>Subscriptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Subscription__c</objectType>
    </variables>
    <variables>
        <name>TempLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Log__c</objectType>
    </variables>
    <variables>
        <name>VarOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varProServicesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varRecurringSoftwareCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Version</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
