org-retrieve/flows/Order_Set_Booked_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Set_UserId_Aspen</name>
        <label>Set UserId - Aspen</label>
        <locationX>6</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory_Code_Aspen.User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookedTerrCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory_Code_Aspen.Territory_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Territory_Code_User_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UserId_Destiny</name>
        <label>Set UserId - Destiny</label>
        <locationX>577</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory_Code.User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookedTerrCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory_Code.Territory_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Territory_Code_User_Null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Aspen</name>
        <label>Aspen</label>
        <locationX>280</locationX>
        <locationY>374</locationY>
        <defaultConnector>
            <targetReference>Get_Territory_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Is_Aspen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aspen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Territory_Code_Aspen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Territory_Code_User_Null</name>
        <label>Territory Code User Null</label>
        <locationX>285</locationX>
        <locationY>556</locationY>
        <defaultConnector>
            <targetReference>Update_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updated for Aspen</description>
    <environments>Default</environments>
    <interviewLabel>Order - Set Booked Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order - Set Booked Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Territory_Code</name>
        <label>Get Territory Code</label>
        <locationX>577</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_UserId_Destiny</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Territory_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ship_To_Address__r.Account__r.Territory_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inside Rep</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Field Rep</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>International Sales Rep</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User_Territory_Codes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory_Code_Aspen</name>
        <label>Get Territory Code - Aspen</label>
        <locationX>5</locationX>
        <locationY>372</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_UserId_Aspen</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Territory_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ship_To_Address__r.Account__r.Territory_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aspen Rep</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User_Territory_Codes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>130</locationX>
        <locationY>786</locationY>
        <inputAssignments>
            <field>Booked_Sales_Rep__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booked_Territory_Code__c</field>
            <value>
                <elementReference>BookedTerrCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_0</name>
        <label>Update Order</label>
        <locationX>444</locationX>
        <locationY>785</locationY>
        <inputAssignments>
            <field>Booked_Sales_Rep__c</field>
            <value>
                <elementReference>$Record.Opportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booked_Territory_Code__c</field>
            <value>
                <elementReference>$Record.Opportunity.Owner.Territory__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>166</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Aspen</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending SAD</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BookedTerrCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
