org-retrieve/flows/Order_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <customErrors>
        <name>Addresses_Not_Populated</name>
        <label>Addresses Not Populated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>{!Addresses_ErrorMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Billing_Contact_Not_Populated</name>
        <label>Billing Contact Not Populated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>{!BillingContact_ErrorMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Provisioned_Total_Must_Be_Within_One_Dollar_of_Order_Header</name>
        <label>Provisioned Total Must Be Within One Dollar of Order Header</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>{!OrderProvisionedTotal_ErrorMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Are_the_Addresses_Populated</name>
        <label>Are the Addresses Populated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Addresses_Not_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Required_Address_Lookups_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bill_To_Address__r.Oracle_Id__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ship_To_Address__r.Oracle_Id__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Generate_New_Integration_Log</targetReference>
            </connector>
            <label>Required Address Lookups Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Affiliated_Contract_Number_Populated_on_Quote</name>
        <label>Is Affiliated Contract Number Populated on Quote?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Number_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Affiliated_Contract_Number_Selection__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Affiliated_Contract_Number_on_PO_Number</targetReference>
            </connector>
            <label>Contract Number Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Billing_Contact_Populated</name>
        <label>Is Billing Contact Populated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Order_to_Amend_on_Billing_Contact_Failure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Required_Lookups_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Contact__r.Oracle_Contact_Id__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Are_the_Addresses_Populated</targetReference>
            </connector>
            <label>Required Lookups Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_New</name>
        <label>Is Order New?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Was_Order_Set_to_Sync_to_ERP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Order Updated</defaultConnectorLabel>
        <rules>
            <name>Order_is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Order_of_Type_Renewal</targetReference>
            </connector>
            <label>Order is New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_of_Type_Renewal</name>
        <label>Is Order of Type &apos;Renewal&apos;?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_PO_Number_populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Renewal_PO_Number_populated</targetReference>
            </connector>
            <label>Renewal Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PO_Number_populated</name>
        <label>Is PO Number populated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_PO_Number_from_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standard_PO_Number_Not_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.PO_Number__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PO_Number</targetReference>
            </connector>
            <label>Standard PO Number Not Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Provisioned_Total_within_One_Penny</name>
        <label>Is Provisioned Total within One Penny?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Order_to_Amend_on_Provisioning_Offset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Provisioned_Total_within_One_Penny</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderProvisioningVariance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Billing_Contact_Populated</targetReference>
            </connector>
            <label>Provisioned Total within One Penny</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Renewal_PO_Number_populated</name>
        <label>Is Renewal PO Number populated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Quote_PO_Number_on_PO_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PO_Number_Not_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.PO_Number__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Renewal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Touch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AUTORENEWAL_on_PO_Number</targetReference>
            </connector>
            <label>No Touch - PO Number Not Populated</label>
        </rules>
        <rules>
            <name>Full_Touch_Auto_Quote_Send_PO_Number_not_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.PO_Number__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Renewal_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No Touch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RENEWAL_on_PO_Number</targetReference>
            </connector>
            <label>Full Touch / Auto Quote Send - PO Number not populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Order_Set_to_Sync_to_ERP</name>
        <label>Was Order Set to &apos;Sync to ERP&apos;?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sync_to_ERP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sync to ERP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Related_Provisionings</targetReference>
            </connector>
            <label>Sync to ERP</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Addresses_ErrorMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Your Order is missing a Bill-To Address or a Ship-To Address, or an attached Address has not finished integrating to Oracle. Please ensure the CPQ jobs have finished running, or reach out to your System Administrator.&quot;</expression>
    </formulas>
    <formulas>
        <name>AffiliatedContractNumber_Formula</name>
        <dataType>String</dataType>
        <expression>{!$Record.PoNumber} + &quot; | &quot; + TEXT({!$Record.SBQQ__Quote__r.Affiliated_Contract_Number_Selection__c})</expression>
    </formulas>
    <formulas>
        <name>AutomaticSyncText_Formula</name>
        <dataType>String</dataType>
        <expression>&quot;Order (&quot; + {!$Record.Id} + &quot;): Automatically triggered by &quot; + {!$User.FirstName}+ &quot; &quot; + {!$User.LastName} + &quot; (&quot; +{!$User.Id} +&quot;)&quot;</expression>
    </formulas>
    <formulas>
        <name>BillingContact_ErrorMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Your Order is missing a Billing Contact, or your attached Billing Contact has not finished integrating to Oracle. Please ensure the CPQ jobs have finished running, or reach out to your System Administrator.&quot;</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>LogEventName</name>
        <dataType>String</dataType>
        <expression>IF(
   AND(
      ISCHANGED({!$Record.Status}),
      TEXT({!$Record.Status}) = &quot;Sync to ERP&quot;
   ),
   &quot;New Order Creation: Order Sync Approved for Id - &quot; + {!$Record.Id},
   &quot;Update Order: Id - &quot; + {!$Record.Id}
)</expression>
    </formulas>
    <formulas>
        <name>OrderProvisionedTotal_ErrorMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Your Order&apos;s total is not equal to the sum of the Provisioned lines. Please ensure the CPQ jobs have finished running, or reach out to your System Administrator.&quot;</expression>
    </formulas>
    <formulas>
        <name>OrderProvisioningVariance</name>
        <dataType>Boolean</dataType>
        <expression>ABS({!Get_Provisioning_Total} - {!$Record.TotalAmount}) &lt;= 0.01</expression>
    </formulas>
    <interviewLabel>Order - After Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order | After Save | Integration Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Generate_New_Error_Integration_Log</name>
        <label>Generate New Error Integration Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Provisioned_Total_Must_Be_Within_One_Dollar_of_Order_Header</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObjectReferenceId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OriginalOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Migrate_to_Oracle__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>EventKey__c</field>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LogEventName__c</field>
            <value>
                <elementReference>LogEventName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>OrderProvisionedTotal_ErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Migrate_to_Oracle__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectReferenceId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>OracleMigration</stringValue>
            </value>
        </inputAssignments>
        <object>Log__c</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Generate_New_Integration_Log</name>
        <label>Generate New Integration Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObjectReferenceId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OriginalOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Migrate_to_Oracle__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>EventKey__c</field>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LogEventName__c</field>
            <value>
                <elementReference>LogEventName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>AutomaticSyncText_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Migrate_to_Oracle__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectReferenceId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>OracleMigration</stringValue>
            </value>
        </inputAssignments>
        <object>Log__c</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Related_Provisionings</name>
        <label>Get All Related Provisionings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Provisioning_Total</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Provisioning__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Append_Affiliated_Contract_Number_on_PO_Number</name>
        <label>Append Affiliated Contract Number on PO Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>PoNumber</field>
            <value>
                <elementReference>AffiliatedContractNumber_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_AUTORENEWAL_on_PO_Number</name>
        <label>Set &apos;AUTORENEWAL&apos; on PO Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Affiliated_Contract_Number_Populated_on_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>PoNumber</field>
            <value>
                <stringValue>AUTORENEWAL</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Order_to_Amend_on_Billing_Contact_Failure</name>
        <label>Set Order to &apos;Amend&apos; on Billing Contact Failure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Billing_Contact_Not_Populated</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Amend</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Order_to_Amend_on_Provisioning_Offset</name>
        <label>Set Order to &apos;Amend&apos; on Provisioning Offset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_New_Error_Integration_Log</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Amend</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_PO_Number</name>
        <label>Set PO Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Affiliated_Contract_Number_Populated_on_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>PoNumber</field>
            <value>
                <elementReference>$Record.OrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_PO_Number_from_Quote</name>
        <label>Set PO Number from Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Affiliated_Contract_Number_Populated_on_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>PoNumber</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.PO_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Quote_PO_Number_on_PO_Number</name>
        <label>Set Quote PO Number on PO Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Affiliated_Contract_Number_Populated_on_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>PoNumber</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.PO_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_RENEWAL_on_PO_Number</name>
        <label>Set &apos;RENEWAL&apos; on PO Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Affiliated_Contract_Number_Populated_on_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>PoNumber</field>
            <value>
                <stringValue>RENEWAL</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Order_New</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Get_Provisioning_Total</name>
        <label>Get Provisioning Total</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Provisioned_Total_within_One_Penny</targetReference>
        </connector>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_All_Related_Provisionings</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationFieldReference</name>
                    <value/>
                </inputParameters>
                <transformType>Sum</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItem_Filter_for_Printers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Provisioning__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Scanner_Premium_EMA_Provisionings</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Provisioning__c</objectType>
    </variables>
    <variables>
        <name>PrinterProvisioningId_TextVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProvisioningNetTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>ProvisioningsToUpdate_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Provisioning__c</objectType>
    </variables>
    <variables>
        <name>TempEMAProvisioning</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Provisioning__c</objectType>
    </variables>
</Flow>
